body{
    background: url('../images/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

nav {
    background-color: steelblue;
}

#root{
   text-align: center;
}

.center-text {
    text-align: center;
}

.container {
    margin-top: 1%;
}

.icon-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.disabled {
    color: grey;
}

.daily-weather {
    text-align: center;
}

.high {
    color: lightcoral;
}

.low {
    color: lightblue;
}

.high-lows {
    font-size: 1.25em;
}

#today-description{
    font-size: 1.25em;
}

#current-icon {
    font-size: 3.5em;
}

.loader {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 0px) {
    .daily-weather{
        border-bottom: 1px lightgray solid;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .daily-weather{
        border-bottom: 1px lightgray solid;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .daily-weather{
        border-bottom: 0px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .daily-weather{
        border-bottom: 0px;
    }

    .brand-logo{
        margin-left: 5%
    }
}